
.jumbotron {
    background-image: url("../images/b-regis.png");
    background-size: cover;
    padding: 6rem 2rem !important;
    margin-bottom: 0;
}

.jumbotron h1{
	text-align: center;
	color: #fff;
}

.event-content{
        text-align: center;
        font-size: 3rem;
        margin-top: 3%;
        margin-bottom: 3%;
        padding-bottom: 50px;
        letter-spacing: 4px;

	color: #244660;
}


/*
Collections styling*/



.header {
  text-align: center;
  
}


.column {
  float: left;
  width: 20%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
}



.row:after {
  content: "";
  display: table;
  clear: both;
}









.nav.nav-pills.nav-fill li.nav-item {
	padding: 0 0 !important;
	background-color: #244660 !important;
	font-weight: bold;
}

.nav.nav-pills.nav-fill li.nav-item a.nav-link{
	padding: 1.9rem 1rem; 	
	color: #f9d19c !important;
	border-radius: 0;
}

a.nav-link hr{	
	width: 50px;	
	margin-top: 4px;
	margin-bottom: 0px;
	border-top: 0px;
	border-bottom: 3px solid #f9d19c;
	margin-left: auto;
	margin-right: auto;
}

.nav.nav-pills.nav-fill li.nav-item a.nav-link.active{ 	
	background-color: #fff !important;
	color: #244660 !important;
}

.tab-content .active{
	background-color: #fff !important;
	display: block !important;
}

@media screen and (max-width:600px) and (min-width:250px){
	.nav.nav-pills.nav-fill li.nav-item a.nav-link{
		padding: 0.8rem 0.5rem;
		font-size: 10px;
	}
	a.nav-link hr{	
		width: 25px;
	}
	.event-content{
		text-align: center;
		font-size: 1rem;
	}
	.jumbotron h1{
		text-align: center;
		color: #fff;
		font-size: 1.5rem;
	}
}
